/.github            export-ignore
/.gitignore         export-ignore
/.gitattributes     export-ignore
/phpunit.xml.dist  export-ignore
/composer.lock      export-ignore
psalm.xml.dist     export-ignore
.php_cs.dist.php    export-ignore
README.md           export-ignore
/tests              export-ignore

*.php diff=php
